<ion-header *ngIf="origem !== 'MAIN'">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="text-align: center; padding: 20px;">
    <img src="../../assets/img/logo-ambep.png" style="width: 50%;">
  </div>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="call-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2><b>IPAM</b></h2>
        <h3>Todo território nacional</h3>
        <p><a href="tel:08009420077">0800-9420-077</a></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="call-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2><b>PÓS-VIDA E MAIS+VIDA</b></h2>
        <h3>Interior</h3>
        <p><a href="tel:08007781073">0800-7781-073</a></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="call-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2><b>PÓS-VIDA E MAIS+VIDA</b></h2>
        <h3>Capitais e regiões metropolitanas</h3>
        <p><a href="tel:40901073">4090-1073</a></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2><b>WHATSAPP</b></h2>
        <h3>Fale pelo Whatsapp</h3>
        <p><a href="https://wa.me/message/6P52ILUWV575B1" target="_blank">+55 21997219970</a></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="map"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2><b>SEDE AMBEP</b></h2>
        <p>
          <a href="https://www.google.com/maps/place/Rua+%C3%81lvaro+Alvim,+21+-+Centro,+Rio+de+Janeiro+-+RJ,+20031-010/@-22.911528,-43.176324,16z/data=!4m5!3m4!1s0x997f62275322ff:0x1c4e6967ed262744!8m2!3d-22.9115278!4d-43.1763241?hl=pt-BR"
            target="_blank">
            Rua Álvaro Alvim, 21/6º e 8º andares<br />
            Centro Rio de Janeiro<br />
          </a>
          CEP:20031-010<br />
          <a href="tel:2132123600">(21) 3212-3600</a>
        </p><br />
        <span style="color: green;">Estamos abertos de Segunda a <br />Sexta
        das 9:00h até 17:00h.</span>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>