<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="contato/MAIN" (click)="navegacaoGravar('1d690f91-dc60-4527-8331-8197e2055d15')">
      <ion-icon name="call"></ion-icon>
      <ion-label>Contato</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3">
      <ion-icon name="menu"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>