
.toast-red { .toast-message { background-color: red; } }

.toast-danger { .toast-message { background-color: rgb(242, 44, 28); } }

.toast-info { .toast-message { background-color: rgb(6, 134, 57); } }

.toast-warning { .toast-message { background-color: rgb(255, 152, 0); } }

.toast-azul { .toast-message { background-color: #288FD2; } }